@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&family=Poppins:wght@300;400;600;800&family=Syncopate&display=swap');

/*Variable css*/
:root{
    /*color*/
    --first-color : #1e2326;
    --second-color : #252A2E;
    --card-color : #d1d8dd;
    --text-color : #fff;
    --input-color : #1a1919;
    --hover-color : #1CB698;
    --background-linear : linear-gradient(320deg, #1c1c1f, #72757a);

    /*fonts*/
    --logo-font : "Syncopate", sans-serif;
    --title-font : "Poppins SemiBold", sans-serif;
    --text-font : 'Noto Sans JP', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--first-color);
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4{
    font-family: var(--title-font)!important;
    font-weight: 700!important;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*Reusable css*/
section{
    padding: 7rem 0!important;
}
.section__title{
    text-align: center;
    color: var(--hover-color);
    font-size: 3rem;
    font-family: var(--logo-font);
}
.section__subtitle{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--title-font);
    margin-bottom: 50px;
}
.underline{
    position: relative;
    margin-bottom: 40px;
}
.underline__first{
    position: absolute;
    right: 570px;
    height: 2px;
    width: 150px;
    background-color: var(--hover-color);
    margin-bottom: 10px;
}
.underline__second{
    position: absolute;
    top: 10px;
    right: 595px;
    height: 2px;
    width: 100px;
    background-color: var(--hover-color);
}

/*Js class add*/
.scroll-nav{
    -webkit-box-shadow: 0 10px 6px -6px var(--hover-color);
    -moz-box-shadow: 0 10px 6px -6px var(--hover-color);
    box-shadow: 0 10px 6px -6px #1CB69840;
}

/*_________nav bar css___________*/
header{
    position: sticky;
    z-index: 2000;
    top: 0;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    background-color: var(--first-color);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: var(--second-color);*/
}
.nav__logo{
    font-family: var(--logo-font);
    font-size: 40px;
    /*background-color: var(--second-color);*/
    color: var(--hover-color);
    transition: 0.3s;
}
.nav__logo:hover{
    color: var(--hover-color);
}
.nav__list{
    display: flex;
}
.nav__items{
    margin-right: 45px;
}
.nav__items a{
    font-size: 20px;
    color: var(--text-color);
    transition: 0.3s;
}
.nav__items a:hover{
    color: var(--hover-color);
}

/*Home*/
.home{
    height: 85vh;
    position: relative;
}
.social__list{
    position: absolute;
    bottom: 200px;
    left: 100px;
}
.social__items{
    font-size: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.social__items a{
    color: var(--text-color);
    transition: 0.3s;
}
.social__items a:hover{
    color: var(--hover-color);
}
.home_text{
    position: absolute;
    bottom: 265px;
    left: 200px;
}
.home-title{
    color: var(--text-color);
    margin-bottom: 0.5rem;
}
.home-subtitle{
    color: var(--text-color);
    margin-bottom: 3rem;
}
.home_buttons{
    margin-top: 20px;
}
.home__btn{
    padding: 1rem 1.5rem;
    border-radius: 50px;
    font-weight: bold;
    color: var(--hover-color);
    background-color: var(--text-color);
    transition: 0.5s;
}
.home__btn:hover{
    color: black;
    background-color: var(--hover-color);
}
.home__logo{
    position: absolute;
    bottom: 150px;
    right: 100px;
}
.home__img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid var(--hover-color);
    background-size: cover;
}

/*About*/
.about__text{
    margin-bottom: 1.5rem;
}
.about__name{
    color: var(--hover-color)!important;
}
.about__text span{
    font-size: 16px;
    color: var(--text-color);
}
/*.about__details{*/
/*    margin-top: 70px;*/
/*    !*display: flex;*!*/
/*    !*justify-content: space-between;*!*/
/*    !*align-items: center;*!*/
/*}*/
.personal__details{
    margin-top: 70px;
}
.personal__details table{
    margin-top: 35px;
    color: var(--text-color);
    font-size: 18px;
}
.personal__details table tr{
    margin-bottom: 20px;
}
.table__title{
    color: var(--hover-color);
    font-weight: bold;
    margin-right: 20px;
}
.interests{
    margin-top: 70px;
}
.interest__list{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}
.interest__item{
    width: 100px;
    height: 80px;
    text-align: center;
    color: white;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--second-color);
    box-shadow: 0 2px 5px 0 #252A2E20, 0 2px 10px 0 #252A2E90  inset;
}
.interest__item:hover{
    background-color: var(--hover-color);
    color: white;
}
.interest__item i{
    margin-top: 10px;
    font-size: 25px;
}
.interest__item span{
    text-transform: uppercase;
}